#blog-details-section2{

    position: relative;
    top: 60vh;

    .blog-details-container{

        display: flex;
        max-width: 1200px;
        width: 80%;
        margin-inline: auto;
        gap: 40px;

        .blog-content-container{
            margin-left: 5px;

            article{

                header{
                    background: none;
                    margin-top: 20px;
                    h2{
                        font-size: 24px;
                        font-weight: 600;
                        margin-bottom: 8px;
                    }
                    .blog-category{
                        display: flex;
                        gap: 20px;
                        color: #a5a5a5;
                        font-weight: 400;
                        padding-bottom: 30px;
                        margin-top: 15px;
    
                        span{
                            color: #2d2d2d;
                        }

                        i{
                            margin-right: 5px;
                        }
                    }
                }

                .blog-content{
                    margin-top: 25px;
                    border-bottom: 1px solid #f0e9ff;;

                    p{
                        color: #646D77;
                        font-size: 15px;
                        line-height: 30px;
                        margin-bottom: 20px;
                        line-height: 1.4;
                    }

                    .middle-content{
                        padding: 30px;
                        background-color: rgba(130, 139, 178, 0.1);
                        margin-bottom: 25px;
                        
                        p{
                            font-style: italic;
                            line-height: 1.7;
                            font-size: 16px;
                            color: #888888;
                            border-left: 2px solid gray;
                            background-color: white;
                            padding: 25px;
                            margin: 0;
                        }
                    }
                }

                .blog-likes{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15px;
                    margin-bottom: 25px;
                    color: #646D77;

                    div{
                        display: flex;
                        gap: 10px;
                        font-size: 15px;
                    }

                    ul{
                        display: flex;
                        gap: 20px;
                        font-size: 14px;
                        color: #999999;
                    }

                    li:hover{
                        color: #fd8f5f;
                    }
                }

                .blog-navigation{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 60px;
                    padding-bottom: 30px;
                    border-bottom: 1px solid #eee;
                    
                    .prev, .next{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        width: 50%;

                        img{
                            width: 15%;
                            /* height: 90%; */
                        }

                        p{
                            color: #646D77;
                            font-size: 14px;
                        }

                        h4{
                            font-size: 18px;
                            font-weight: 500;
                        }

                        h4:hover{
                            cursor: pointer;
                            color: #fd8f5f;
                        }
                    }

                    .next{
                        display: flex;
                        gap: 20px;
                        justify-content: flex-end;
                        text-align: end;
                    }
                }
            }

            .blog-author{
                background-color: #fbf9ff;
                margin-top: 60px;
                display: flex;
                align-items: center;
                gap: 30px;
                padding: 40px;
                margin-bottom: 50px;

                h4{
                    color: #1a1a1a;
                    font-weight: 500;
                    font-size: 17px;
                    margin-bottom: 4px;
                }

                p{
                    color: #646D77;
                    font-size: 15px;
                }

                img{
                    width: 20%;
                }
            }

            .blog-comments-container{

                margin-top: 40px;
                margin-bottom: 90px;

                h4{
                    margin-bottom: 35px;
                    font-size: 18px;
                    font-weight: 500;
                }

                .blog-comment{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-bottom: 50px;

                    img{
                        width: 10%;
                    }

                    .comment-content{

                        .comment-txt{
                            margin-bottom: 10px;
                            color: #777777;
                            font-size: 15px;
                        }

                        .comment-info{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            p{
                                font-size: 14px;
                                color: #999999;
                                margin-bottom: 0;
                                margin-left: 20px;
                            }

                            .comment-writer{
                                display: flex;
                                align-items: center;
                                gap: 15px;

                                h4{
                                    margin: 0;
                                }
                                
                                h4:hover{
                                    cursor: pointer;
                                    color: #fd8f5f;
                                }

                            }

                            .comment-reply:hover{
                                cursor: pointer;
                                color: #fd8f5f;
                            }
                        }
                    }
                }
            }
    
        }
    
        aside{
    
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            h3{
                font-size: 20px;
                font-weight: 500;
                padding-bottom: 10px;
                border-bottom: 1px solid #ededed;
    
    
            }
    
            .blog-aside-search{
    
                background-color: #fbf9ff;
                padding: 17px;
    
                form{
    
                    div{
                        border: 1px solid #ddd;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
    
                    input{
                        padding: 15px;
                        width: 90%;
                    }
    
                    i{
                        background-color: #fd8f5f;
                        color: white;
                        padding: 18.1px 15px;
                    }
    
                    button{
                        color: #fd8f5f;
                        background-color: white;
                        border: 1px solid #fd8f5f;
                        width: 100%;
                        padding: 15px;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        margin-top: 8px;
                        transition: all .5s;
                    }
    
                    button:hover{
                        color: white;
                        background-color: #fd8f5f;
                    }
                }
            }
    
            .blog-aside-category{
                background-color: #fbf9ff;
                padding: 30px;
    
    
                ul{
                    margin-top: 30px;
    
                    li{
                        color: #646D77;
                        padding: 15px;
                    }
                    
                    li:not(:last-child){
                        border-bottom: 1px solid #ededed;
                    }
                }
            }
    
            .blog-recent-posts-container{
                background-color: #fbf9ff;
                padding: 30px;
    
                display: flex;
                flex-direction: column;
                gap: 10px;
    
                .recent-post{
                    display: flex;
                    align-items: center;
                    gap: 15px;
    
                    img{
                        width: 25%;
                    }
    
                    h4{
                        font-size: 16px;
                        font-weight: 500; 
    
                        a:hover{
                            color: #fd8f5f;
                            transition: all .2s;
                        }
                    }
    
    
                    p{
                        color: #646D77; 
                        font-size: 13px;
                        margin-top: 5px;
                    }
                }   
            }
    
            .blog-tag-clouds{
    
                background-color: #fbf9ff;
                padding: 30px;
    
                div{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 7px;
                    margin-top: 35px;
    
                    p{
                        color: #999999;
                        padding:  5px 10px;
                        border: 1px solid #ddd;
                        background-color: white;
                        font-size: 13px;
    
                        a:hover{
                            cursor: pointer;
                            color: #fd8f5f;
                            transition: all .3s;
                        }
                    }
                }
            }
    
            .blog-insta-feeds{
    
                background-color: #fbf9ff;
                padding: 30px;
    
                div{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 17px;
                    margin-top: 35px;
    
                    img{
                        width: 28%;
                    }
                }
            }
    
            .newsletter{
                background-color: #fbf9ff;
                padding: 30px;
    
                form{
                    input{
                        width: 100%;
                        padding: 12px;
                        border: 1px solid #ddd;
                    }
    
                    button{
                        color: #fd8f5f;
                        background-color: white;
                        border: 1px solid #fd8f5f;
                        width: 100%;
                        padding: 15px;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        margin-top: 8px;
                        transition: all .5s;
                    }
    
                    button:hover{
                        color: white;
                        background-color: #fd8f5f;
                    }
                }
            }
        }

    }

}

#blog-details-section3{

    max-width: 1200px;
    width: 80%;
    margin-inline: auto;
    position: relative;
    top: 70vh;
    margin-bottom: 150px;

    h4{
        font-weight: 550;
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 22px;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 65%;

        input, textarea{
            border: 1px solid #ddd;
            width: 100%;
            padding: 15px 20px;
        }

        div{
            display: flex;
            gap: 25px;

            .name,
            .email{
                width: 49%;
            }
        }

        textarea{
            height: 200px;
        }

        button{
            border: 1px solid #fd8f5f;
            color: #fd8f5f;
            width: 30%;
            padding: 15px;
            text-transform: uppercase;
            letter-spacing: 3px;
            transition: all .3s;
        }

        button:hover{
            background-color: #fd8f5f;
            color: white;
        }
    }
}

@media screen and ( max-width: 768px){

    #blog-details-section1{

        .prod-home-bg{
            width: 58.8%;
        }

        .prod-home-overlay{
            width: 86.5%;
        }

        .product-heading{

            top: 130px;
            h1{
                width: 50%;
            }
            
        }
    }

    #blog-details-section2{

        top: 50vh;
        
        .blog-details-container{
            flex-direction: column;
            width: 93%;
            margin-inline: auto;
            top: 50vh;

        }

        article{
            header{
                margin-bottom: 100px;
            }
        }

        .blog-navigation{
            flex-direction: column;
            gap: 15px;

            .prev{
                width: 100% !important;

                img{
                    width: 15% !important;
                }
            }

            .next{
                align-self: flex-end;
                width: 100% !important;

                img{
                    width: 15% !important;
                }
            }
        }

        .blog-author{
            padding: 20px !important;
        }

        .comment-info{
           width: 97%;
        }
    }

    #blog-details-section3{
        width: 90%;
        margin-inline: auto;
        top: 60vh;
        form{
            width: 100%;

            button{
                width: 100%;
            }
        }
    }

    #blog-details-section4{
        top: 55vh;
    }
}