#cart-section2{

    width: 80%; 
    max-width: 1100px;
    margin-inline: auto;

    p{
        font-size: 14px;
        font-weight: 550;
        color: #797979;
    }

    .cart-header{
        justify-content: space-between;  
        
        .cart-header-right{
            gap: 120px;
        }
    }

    .cart-prod{
        justify-content: space-between;

        .cart-prod-info{
            align-items: center;
            gap: 20px;

            img{
                width: 25%;
            }
        }

        .cart-prod-price{
            gap: 95px;
            align-items: center;

            input{
                width: 70px;
                height: 50px;
                border: 1px solid #d6d6d6;
                text-align: center;
                font-size: 18px;
                outline: none;
            }

            p{
                color: #2a2a2a;
            }
        }
    }

    .cart-btn{
        display: flex;
        justify-content: space-between;

        button{
            background: #FD8F5F;
            text-transform: uppercase;
            padding: 15px 44px;
            color: #fff;
            letter-spacing: 1px;
            cursor: pointer;
            font-weight: 550;
            font-size: 15px;
            transition: color 0.4s linear;
            position: relative;
            margin: 0;
        }
    }

    .cart-subtotal{
        justify-content: flex-end;
        gap: 140px;

        p{
            font-size: 14px;
            color: #2a2a2a;
        }
    }

    .cart-shipping{
        justify-content: flex-end;
        gap: 5px;

        p{
            font-size: 14px;
            color: #2a2a2a;
        }

        form{
            display: flex;
            flex-direction: column;
            text-align: right;
            gap: 17px;

            label{
                font-size: 17px;
                color: #606060;
                margin-right: 7px;
            }

            select{
                background-color: #f4f4f4;
                padding: 7px 15px;
                outline: none;
            }

            button{
                background: #FD8F5F;
                text-transform: uppercase;
                padding: 20px 44px;
                color: #fff;
                cursor: pointer;
                font-weight: 550;
                font-size: 15px;
                line-height: 1;
                letter-spacing: 1px;
                transition: color 0.4s linear;
                border: 0;
                }   
            }
        }
        
        .cart-footer{
            display: flex;
            justify-content: flex-end;
            gap: 5px;
            button{
                background: #FD8F5F;
                text-transform: uppercase;
                padding: 20px 44px;
                color: #fff;
                cursor: pointer;
                font-weight: 550;
                font-size: 15px;
                line-height: 1;
                letter-spacing: 1px;
                transition: color 0.4s linear;
                border: 0;
            }
        }
}



@media screen and ( max-width: 768px){

    #cart-section2{
        width: 94%;
        margin-inline: auto;
    }

    .cart-header{

        .cart-header-right{
            gap: 31px !important;
        }
    }
    
    .cart-prod{

            gap: 20px;

            .cart-prod-info{
                flex-direction: column;
        
                p{
                    width: 150px;
                }
        
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        
            .cart-prod-price{
                gap: 30px !important;

                input{
                    width: 40px !important;
                    height: 30px !important;
                }
            }

    }

    .cart-btn,
    .cart-footer{

        button{
            padding: 15px 30px !important;
        }

    }
}