input{
    outline-color: #3b5998 !important;
}

#prod-detail-section2{
    position: relative;
    top: 60vh;

    .product-info-container{
        width: 80%;
        max-width: 1200px;
        margin-inline: auto;
    }

    .product-images{
        margin-right: -120px;

        .product-photo{
            width: 70%;
        }

        .product-photos{
            display: flex;
            gap: 21px;
            margin-top: 15px;

            img{
                width: 15%;
            }
        }
    }

    .product-info{
        h3{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        h4{
            font-size: 24px;
            font-weight: bold;
            color: #FD8F5F;
            margin-bottom: 15px;
        }


        .product-status{
            
            border-bottom: 1px dotted #d1d1d1;

            p{
                color: #555;
                margin-bottom: 20px;
            }
        }

        .product-description{
            margin-top: 20px;

            p{
                width: 470px;
                color: #646D77;
                line-height: 30px;
                margin-bottom: 15px;
                font-weight: normal;
                line-height: 1.4;
            }
        }

        .product-count{
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 50px;
            width: 110px;
            padding: 10px 15px;
            cursor: pointer;
            margin-top: 35px;
        }

        .product-btn{
            display: flex;
            align-items: center;
            gap: 25px;
            margin-top: 25px;

           button{
                background: #FD8F5F;
                text-transform: uppercase;
                padding: 15px 44px;
                color: #fff;
                font-weight: 550;
                font-size: 15px;
                letter-spacing: 1px;
                cursor: pointer;
                transition: color 0.4s linear;
                border: 0;
           }

           div{
            border: 1px solid #f3f3f372;
            border-radius: 100%;
            padding: 13px 15px;
            box-shadow: 0 7px 10px rgb(202, 202, 202);
            color: #FD8F5F;
            cursor: pointer;
           }
        }

        .product-social{
            display: flex;
            gap: 25px;
            margin-top: 25px;
            font-size: 20px;
            
            i{
                background-color: black;
                border-radius: 50%;
                padding: 14px 15px;
                transition: all .3s;
                cursor: pointer;
            }

            .fa-facebook-f{
                background-color: #3b5998;
                padding: 14px 18px ;
            }

            .fa-twitter{
                background-color: #55acee;;
            }

            .fa-linkedin-in{
                background-color: #0077b5;
            }

            i:hover{
                background-color: #FD8F5F;
            }
        }
    }
}

#prod-detail-section3{
    position: relative;
    top: 70vh;
    width: 80%;
    max-width: 1200px;
    margin-inline: auto;

    nav{
        display: flex;
        gap: 25px;
        margin-bottom: 50px;

        div{
            border: 1px solid #ddd;
            border-radius: 50px;
            padding: 10px 0;
            width: 150px;
            text-align: center;
            cursor: pointer;
        }
    }

    .active{
        background-color: #FD8F5F;
        color: white;
        border: none;
    }


    /* REVIEW */
    .product-reviews{
        display: flex;
        margin-bottom: 80px;
        /* transition: all .7s; */

        .prod-review-overall{
            background-color: #f1f1f1;
            text-align: center;
            padding: 20px 0;
    
            h5{
                font-size: 24px;
                font-weight: 500;
            }
    
            .overall{
                color: #FD8F5F;
                font-size: 48px;
                font-weight: bold;
            }
    
            .reviews{
                font-size: 14px;
                color: #797979;
            }
        }
    
        .review-star{
            padding-left: 35px;
    
            h4{
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 10px;    
            }
    
            p{
                color: #797979;
                margin-top: 7px;
            }
        }
    
        .comments-container{
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-top: 40px;
    
            .comments{
                .comment-header{
                    align-items: center;
                    gap: 20px;
                    color: #797979;     
    
                    h4{
                        color: #2a2a2a;
                        margin-bottom: 5px;
                        font-weight: 550;
                    }
                }
    
                .comment-txt{
                    margin-top: 15px;
                    p{
                        color: #797979;
                    }
                }
            }
        }
    
        .add-review{
    
            h4{
                font-size: 24px;
                margin-bottom: 20px;
                font-weight: 700;
            }
    
            p{
                color: #646D77;
                font-weight: 550;
            }
    
            form{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 30px;
                
                input, textarea{
                    border: 1px solid #ddd;
                    padding: 15px;
                }
    
                button{
                    align-self: flex-end;
                    width: 40%;
                    background: #FD8F5F;
                    text-transform: uppercase;
                    padding: 20px 44px;
                    color: #fff;
                    font-weight: 550;
                    font-size: 15px;
                    cursor: pointer;
                    transition: color 0.4s linear;
                    }
                }
            }
    }

    /* DESCRIPTION */
    .prod-description-txt{
            display: none;
            color: #646D77;
            margin-bottom: 45px;
            font-weight: 500;
            line-height: 1.6;
    }

    /* SPECIFICATION */
    .prod-specification{

        display: none;

        table{
            width: 100%;
        
            tr{
                border-bottom: 1px solid #ddd;
                display: flex;
                justify-content: space-between;   
                padding-block: 13px; 
                padding-inline: 150px;
                /* align-self: flex-start; */

                td{
                    font-weight: 500;
                    color: #797979;
                    
                }
            }
        }
    }

    /* COMMENTS */
    .prod-comments{

        display: none;
        /* display: flex; */
        gap: 25px;
        margin-bottom: 70px;

        .comment-container{

            .comment-writer-info{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;

                .user-info{

                    h4{
                        font-weight: 600;
                        margin-bottom: 5px;
                    }

                    p{
                        color: #797979;
                        font-size: 13px;
                    }
                }

                .comment-reply{
                    border: 1px solid #ddd;
                    border-radius: 50px;
                    padding: 5px 25px;
                    font-size: 13px;
                    cursor: pointer;
                }
            }


            .comment-txt{
                p{
                    color: #797979;
                }
            }
        }

        .post-comment{
            h4{
                font-size: 24px;
                margin-bottom: 20px;
                font-weight: 700;
            }

            form{
                display: flex;
                flex-direction: column;
                gap: 20px;

                input,
                textarea{
                    border: 1px solid #ddd;
                    padding: 12px 10px;
                }

                button{
                    align-self: flex-end;
                    width: 40%;
                    background: #FD8F5F;
                    text-transform: uppercase;
                    padding: 20px 44px;
                    color: #fff;
                    font-weight: 550;
                    font-size: 15px;
                    cursor: pointer;
                    transition: color 0.4s linear;
                }
            }
        }
    }
}


@media screen and ( max-width: 768px){

    #prod-detail-section1{

        .product-heading{
            left: 20px;
            top: 140px;

            h1{
                width: 100px;
            }
        }

        .prod-home-overlay{
            width: 87.4%;
        }

        .prod-home-bg{
            width: 61.6%;
            height: 50vh;
            top: 99px;
        }
    }
    
    #prod-detail-section2{
        width: 90%;
        margin-inline: auto;

        .product-info-container{
            flex-direction: column;
            gap: 30px;

            .product-description{
                p{
                    width: 100%;
                }
            }
        }

        .product-photos{
            width: 91%;
        }

    }

    #prod-detail-section3{
        flex-direction: column;
        width: 95%;

        nav{
            flex-wrap: wrap;
            margin-left: 40px;
        }
        
        .product-reviews,
        .prod-specification,
        .prod-comments{
            flex-direction: column;
            gap: 30px;
            
            button{
                width: 100% !important;
                margin-top: 10px;
            }
        }

        /* REVIEWS */
        .overal-container{
            width: 120% !important;
            margin-left: -20px;

        .prod-review-overall{
            width: 40%;
            height: 170px;
        }

        .review-star{
            width: 50%;
        } 
        }


        /* DESCRIPTION */
        .prod-description-txt{
            width: 94%;
            margin-inline: auto;
        }

        /* SPECIFICATION */
        .prod-specification{
            width: 95%;
            margin-inline: auto;

            tr{
                padding-inline: 20px !important;
                /* justify-content: space-between !important; */
            }
        }

    }
}