@media screen and ( max-width: 768px){
    #prod-section1,
    #about-section5{
        .prod-home-bg{
            width: 62%;
            height: 43vh;
        }

        .prod-home-overlay{
            width: 87.6%;
        }

        .product-heading{
            left: 40px;
            top: 160px;
        }
    }

}