@media screen and ( max-width: 768px){
    #prod-section1,
    #about-section5,
    #cart-section1,
    #checkout-section1,
    #category-section1,
    #contact-section1,
    #blog-section1{
        .prod-home-bg{
            width: 62%;
            height: 43vh;
            top: 99px;
        }

        .prod-home-overlay{
            width: 87.6%;
        }

        .product-heading{
            left: 20px;
            top: 160px;
        }
    }

}